<div>
<h4><%= current_student.firstname.capitalize %>, find your perfect Tutor!</h4>
</div>

<%= form_with url: search_path, method: :get do |form| %>

  <%= form.label :subject %><br>
  <%= form.select :subject, @subjects,  {}, {class: "form-select mb-2 w-50"}%>
  <div id="search-checkbox">
  <%= form.check_box :available, class: "form-check-input form-control form-check-inline mb-4 mycheckbox" %>
  <%= form.label "Available hours only", class: "pad-top" %> 
 </div>

  <%= form.label :country %><br>
  <%= form.select :country, @country_codes,  {}, {class: "form-select mb-1 w-25"} %><br>

  <%= form.label :state %><br>
  <%= form.select :state, @state_codes,  {}, {class: "form-select mb-1 w-25"} %><br>

  <%= form.label "First Name" %><br>
  <%= form.text_field :firstname, class: "form-control w-25 mb1"%><br>
  <%= form.label "Last Name" %><br>
  <%= form.text_field :lastname, class: "form-control w-25 mb1" %><br>
  <%= form.submit "Find A Tutor", class: "btn btn-primary btn-lg" %>
<% end %>
<br><br>

