<h1>Tutor Search</h1>
<p>
<h4><%= current_student.firstname.capitalize %>, find your perfect Tutor!</h4>
Enter any combination of search critera below:
</p>

<%= form_with url: search_path, method: :get do |form| %>


  <%= form.label :subject %><br>
  <%= form.select :subject, @subjects, selected: "" %><br>

  <%= form.check_box :available %>
  <%= form.label "search only for tutors with available hours" %><br>
<hr>
  <h5>Optional search paramaters</h5>
  <%= form.label :country %><br>
  <%= form.select :country, @country_codes , selected: "" %><br>

  <%= form.label :state %><br>
  <%= form.select :state, @state_codes, selected: "" %><br>




  <%= form.label "First Name" %><br>
  <%= form.text_field :firstname %><br>
  <%= form.label "Last Name" %><br>
  <%= form.text_field :lastname %><br><br>
  <%= form.submit "Find A Tutor" %>
<% end %>
