<h1><%= current_student.firstname.capitalize %>'s Student Central</h1>
<p>
Find your perfect Tutor! Enter any combination of search critera:
</p>

<%= form_with url: search_path, method: :get do |form| %>
  <%= form.label :country, "Country:" %><br>
  <%= form.text_field :country %><br>
  <%= form.label :state, "State" %><br>
  <%= form.text_field :state %><br><br>
  <%= form.submit "Find A Tutor" %>
<% end %>
