<h1>Tutor Search</h1>
<p>
<h4><%= current_student.firstname.capitalize %>, find your perfect Tutor!</h4>
Enter any combination of search critera below:
</p>

<%= form_with url: search_path, method: :get do |form| %>
  <%= form.label :subject %><br>
  <%= form.text_field :subject %><br>
  <%= form.check_box :available %>
  <%= form.label "search only for tutors with available hours" %><br><br>
  <%= form.label :country %><br>
  <%= form.text_field :country %><br>
  <%= form.label :state %><br>
  <%= form.text_field :state %><br>
  <%= form.label "First Name" %><br>
  <%= form.text_field :firstname %><br>
  <%= form.label "Last Name" %><br>
  <%= form.text_field :lastname %><br><br>
  <%= form.submit "Find A Tutor" %>
<% end %>
