<h1>Search Results</h1>
<% if @tutors != [] and !@tutors.nil? %>
    <% @tutors.each do |tutor| %>
            Name:
            <%= tutor.firstname ? tutor.firstname.capitalize : 'none' %>
            <%= tutor.lastname.capitalize %><br>
            Email: 
            <%= tutor.email.downcase.sub(/\A(.)(.*)(...)\z/) {|m| $1 + ("*" * $2.length) + $3 } %><br>
            <% if tutor.postcode != '' %>
                <%= tutor.postcode %><br>
            <% end %>
            <% if tutor.state.upcase != '' %>
                <%= tutor.state.upcase %><br>
            <% end %>
            <% if tutor.country.upcase != '' %>
                <%= tutor.country.upcase %><br>
            <% end %>
            <%= link_to 'View Profile', student_tutor_profile_path(tutor) %><br>
            <% if is_favourited(tutor.id) %>
                <%= link_to "remove from favourites", :controller => "student", :action => "favourite", :id => tutor.id, :remove => true %>
            <% else %>
                <%= link_to "add to favourites", favourite_path(tutor.id) %>
            <% end %>
            <br><br>
    <% end %>
<% else %>
    <h4>Nothing matched your search</h4>
    <%= link_to "back", request.referer.present? ? request.referer : default_path %>
<% end %>

