<h1>Search Results</h1>
<% if @tutors != [] and !@tutors.nil? %>
    <% @tutors.each do |tutor| %>
            <%= tutor.firstname ? tutor.firstname.capitalize : 'none' %><br>
            <%= tutor.lastname.capitalize %><br>
            <%= tutor.email.downcase %><br>
            <%= tutor.address_1.capitalize %><br>
            <% if tutor.address_2 != '' && !tutor.address_2.nil? %>
                <%= tutor.address_2.capitalize %><br>
            <% end %>
            <%= tutor.postcode %><br>
            <%= tutor.state.upcase %><br>
            <%= tutor.country.upcase %><br><br>
    <% end %>
<% else %>
    <h4>Nothing matched your search</h4>
<% end %>

