<h1>Search Results</h1>
<% if @tutors != [] and !@tutors.nil? %>
    <% @tutors.each do |tutor| %>
        <div class="tutor_fave_container">
            <div class="card">
                <div class="card-header">
                
            </div>
            <div class="card-body">
                <h5 class="card-title">Name: <%= tutor.firstname ? tutor.firstname.capitalize : 'none' %>
            <%= tutor.lastname.capitalize %></h5>
                <%# <p class="card-text">Email contact will be revealed after booking</p> %>
                <% if tutor.profile.photo.url %>
                    <%= cl_image_tag tutor.profile.photo.url , class: 'tutor_fave_pic', :width => 130, :crop => "pad", cloud_name: $cloud_name %>
                <% end %>
                Email: <%= tutor.email.downcase.sub(/\A(.)(.*)(...)\z/) {|m| $1 + ("*" * $2.length) + $3 } %><br>
            State: <%= tutor.state.upcase %><br>
            Country: <%= tutor.country.upcase %><br><br>
            <%= link_to 'View Profile', student_tutor_profile_path(tutor), class: "btn btn-primary btn" %><br><br>
            <%= link_to "remove from favourites", {controller: "student", action: "favourite", id: tutor.id, remove: true}, class: "btn btn-sm btn-outline-secondary" %>
            </div>
        </div><br>
    <% end %>
<% else %>
    <h4>Nothing matched your search</h4>
    <%= link_to "back", request.referer.present? ? request.referer : default_path %>
<% end %>

