<h1><%= @tutor.firstname %> <%= @tutor.lastname %></h1><br>
<% if @tutor_profile %>
    <% if @tutor.profile.photo.url %>
        <%= cl_image_tag @tutor.profile.photo.url, class: 'profile_image_main', cloud_name: $cloud_name %><br><br>
    <% end %>
    <h3><%= @tutor_profile.title %></h3>
    <p>
    <%= @tutor.profile.description %><br><br>
    
    <h6>State: <%= @tutor.state.upcase%></h6>
    <h6>Country: <%= @tutor.country.upcase%></h6><br><br>
    <% if @subjects.first %>
        <% @subjects.each do |subject| %>
        <% subject.time > 0 ? time_available = true : time_available = false %>
        <div class="subject-row">
            <div class="jumbotron-fluid">
                <div class="container-fluid">
                <h4 class="display-6"><%= subject.title.upcase %></h4>
                <p class="lead">Hours available: <%= subject.time %><br>
                <% if time_available %>
                    <%= button_to "Book Time", booking_page_path, method: :get, params: { subject: subject.id, tutor: @tutor.id }, class: "btn btn-primary btn" %>
                    <hr class="my-4">
                <% else %>
                    <hr class="my-4">
                <% end %>
                </p>
                </div>
            </div>
        </div>
        <% end %>
    <% else %>
        <br><h4><%= @tutor.firstname %> is not actively tutoring at this time</h4>
        <% end %>
    </p>
<% else %>
    <p>There is no profile for this Tutor yet</p>
<% end %>
<% if !@exists %>
    <%= link_to "add to favourites", favourite_path(@tutor.id), class: "btn btn-sm btn-outline-success" %> &nbsp;&nbsp;
<% else %>
    <%= link_to "remove from favourites", {controller: "student", action: "favourite", id: @tutor.id, remove: true}, class: "btn btn-sm btn-outline-info" %> &nbsp;&nbsp;
<% end %>
<%= link_to "back", request.referer.present? ? request.referer : default_path, class: "btn btn-sm btn-outline-secondary" %>
<br><br>