<h2><%= @tutor.firstname %> <%= @tutor.lastname %></h2><br>
<% if @tutor_profile %>
    <h3><%= @tutor_profile.title %></h3>
    <p>
    <%= @tutor.profile.description %><br><br>
    <% if @tutor.profile.photo.url %>
        <%= cl_image_tag @tutor.profile.photo.url, cloud_name: $cloud_name %>
    <% end %>
    </p>
<% else %>
    <p>There is no profile for this Tutor yet</p>
<% end %>
<% if !@exists %>
    <%= link_to "add to favourites", favourite_path(@tutor.id) %> | 
<% else %>
    <%= link_to "remove from favourites", :controller => "student", :action => "favourite", :id => @tutor.id, :remove => true %> | 
<% end %>
<%= link_to "back", request.referer.present? ? request.referer : default_path %>