<h2>Tutor Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label 'First Name' %><br />
    <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", class: "form-control mb3" %>
  </div>

  <div class="field">
    <%= f.label 'Last Name' %><br />
    <%= f.text_field :lastname, autocomplete: "lastname", class: "form-control mb3" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", class: "form-control mb3" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control mb3" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mb3" %>
  </div>

  <div class="field">
    <%= f.label :address_1 %><br />
    <%= f.text_field :address_1, autocomplete: "address_1", class: "form-control mb3" %>
  </div>

  <div class="field">
    <%= f.label :address_2 %><br />
    <%= f.text_field :address_2, autocomplete: "address_2", class: "form-control mb3" %>
  </div>

  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode, autocomplete: "postcode", class: "form-control mb3" %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state,  autocomplete: "state", class: "form-control mb3" %>
  </div>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country, autocomplete: "country", class: "form-control mb3" %>
  </div><br>

  <div class="actions">
    <%= f.submit "Create My Tutor Account!", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
<br>
