<% if @subjects.first %>
    <% @subjects.each do |subject| %>
        <%= form_with model: @subject, url: update_subjects_path, method: "patch" do |form| %>
        <%= form.hidden_field :id, value: subject.id %>
        <%= form.label "Subject" %><br>
        <%= form.text_field :title, value: subject.title, :required => true  %><br>
        <%= form.label "Hours offered this month" %><br>
        <%= form.number_field :time, value: subject.time, :required => true  %><br>
        <%= form.submit %>
        <%= link_to "delete", destroy_subject_path(id: subject.id), method: :delete %>
        <% end %><br>
    <% end %>
    <h4>Add another subject:</h4>
    <%= form_with model: @subject, url: create_subjects_path do |form| %>
        <%= form.label "Subject" %><br>
        <%= form.text_field :title, :required => true  %><br>
        <%= form.label "Hours offered this month" %><br>
        <%= form.number_field :time, in: 1..100, step: 1, :required => true  %><br>
        <%= form.submit %>
    <% end %><br>
<% else %>
    <p>Add a subject and tutoring hours</p>
    <%= form_with model: @subject, url: create_subjects_path do |form| %>
        <%= form.label "Subject" %><br>
        <%= form.text_field :title, :required => true  %><br>
        <%= form.label "Hours offered this month" %><br>
        <%= form.number_field :time, in: 1..100, step: 1, :required => true  %><br>
        <%= form.submit %>
    <% end %><br>
<% end %>



