<% if tutor_signed_in? %>
    <h1>Browse Students</h1>
<% end %>
<% if student_signed_in? %>
    <h1>Find A Tutor</h1>
<% end %>
<% @tutor.each do |tutor| %>
    <%= tutor.firstname ? tutor.firstname : 'none' %><br>
    <%= tutor.lastname %><br>
    <%= tutor.email %><br>
    <%= tutor.address_1 %><br>
    <% if tutor.address_2 != '' && !tutor.address_2.nil? %>
        <%= tutor.address_2 %><br>
    <% end %>
    <%= tutor.postcode %><br>
    <%= tutor.state %><br>
    <%= tutor.country %><br><br>
<% end %>