<% if tutor_signed_in? %>
    <h1>All Tutors</h1>
<% end %>
<% if student_signed_in? %>
    <h1>Find A Tutor</h1>
<% end %>
<% @tutor.each do |tutor| %>
    <%= tutor.firstname ? tutor.firstname.capitalize : 'none' %><br>
    <%= tutor.lastname.capitalize %><br>
    <%= tutor.email.downcase %><br>
    <%= tutor.address_1.capitalize %><br>
    <% if tutor.address_2 != '' && !tutor.address_2.nil? %>
        <%= tutor.address_2.capitalize %><br>
    <% end %>
    <%= tutor.postcode %><br>
    <%= tutor.state.upcase %><br>
    <%= tutor.country.upcase %><br><br>
<% end %>