<h6>Need an Account? <%= link_to "Signup", new_student_registration_path %></h6>
<h2>Student Login</h2>
<div class="form-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb3" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control mb3" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field"><br>
        <%= f.check_box :remember_me, class: "form-check-input form-control form-check-inline mb-4 mycheckbox" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>