<!DOCTYPE html>
<html>
  <head>
    <title>TutorMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </head>

  <body>
  <div class="page-container">
    <%= render '/shared/navbar' %>
    <% if alert %>
<div class="alert" id="alert">
  <div class="modal-lg">
    <div class="close-button"><%= alert %>&nbsp;&nbsp;&nbsp;<a href="#" role="button" class="btn btn-light popover-test" title="Popover title" data-content="Popover body content is set in this attribute.">x</a></div>
  </div>
</div>
      
        
      
      
    <% end %>
    <div class="content-container">
    <%= yield %>
    </div>
    </div>
  </body>
</html>
