
<div class="form-container">
  <%= form_with url:"/tutors/profile_create", method: :post do |form| %>
    <%= form.label :title %><br />
    <%= form.text_field :title, :required => true %><br><br>
    <%= form.label :description %><br />
    <%= form.text_area :description, size: "60x10", :required => true %><br>
    <%= form.label :photo %><br />
    <%= form.file_field :photo %><br /><br />
    <%= form.submit "Create My Profile" %>
  <% end %>
</div>
