<h1><%=@tutor.firstname%>'s Tutor Central</h1>
<br>

<% if @profile %>
<%= link_to "Edit Profile", profile_form_path %>
    <p>
    <h3><%= @profile.title %></h3>
    <p>
    <%= @profile.description %>
    </p>
    <br>
    <% unless @profile.photo.url.nil? %>
        <%= cl_image_tag @profile.photo.url, cloud_name: $cloud_name %>
    <% end %>
    <br><br>
    </p>
    <hr>
    
<% else %>
    <h4>You haven't set up your profile yet.</h4>
    <%= link_to 'Create A Profile', profile_form_path %>
<% end %>
