<h1><%=@tutor.firstname%>'s Tutor Central</h1>
<br>

<% if @profile %>
<%= link_to "Update Profile", profile_form_path %>
    <p>
    <h3><%= @profile.title %></h3>
    <p>
    <%= @profile.description %>
    </p>
    <br>
    <% if @profile.photo.attached? %>
        <%= image_tag @profile.photo %>
    <% end %>
    <br><br>
    </p>
    <hr>
    
<% else %>
    <h4>You haven't set up your profile yet.</h4>
    <%= link_to 'Create A Profile', profile_form_path %>
<% end %>
